.content {
    /* outline: 4px solid pink; */
    min-height: 60vh;
    padding: 10%;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 60px;
    align-items: center;
    justify-content: space-around;
}



.content__content {
    align-self: center;
}

.content__content p:first-of-type {
    font-size: 1.2rem;
}

.content:nth-of-type(odd) {
    background: #f9f9f9;
    /* background: var(--comp); */
}

@media (max-width:380px) {    
    .content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* .content:first-of-type {
    background: #f9f9f9;
}

.content:nth-of-type(2) {
    background: #f6f6f6;
}

.content:last-of-type {
    background: #f3f3f3;
} */