.form__container {
    /* outline: 2px dashed purple; */
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    margin-bottom: 50px;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    font-size: 1.3rem;
}

.form__item input,
.form__item textarea {
    line-height: 1.8;
    margin: 10px 0;
    padding: 5px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form__button {
    background: #00a5ff;
    width: min-content;
    border: none;
    padding: 5px 10px;
    font-size: 1.3rem;
    color: #ffffff;
    transition: all 200ms ease-in;
}

.form__button:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
