.landing__header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75vh; 
      
    /* background: var(--primary-light); */
}

.overlay{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 8vw;
    color: #e4e7eb;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

#myCanvas{
    height: 75vh;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0px;
    overflow: hidden;
    right: 0px;
    z-index: -1;
    background: var(--primary-light);
    /* transform: rotateX(10deg); */
}
